Repository linebender/druid, pull requests merged in 2020-07, with the labels that each got.

#1074 Reorder sections in README.md and CONTRIBUTING.md files.
  CONTRIBUTING.md
  README.md
Labels: S-needs-review, docs

#1084 Don't install rustfmt twice on CI
  .github/workflows/ci.yml
Labels: S-needs-review

#1075 Re-export `druid_shell::Scalable` & remove to_px/to_dp helpers on Scale
  CHANGELOG.md
  druid-shell/src/platform/gtk/window.rs
  druid-shell/src/platform/windows/window.rs
  druid-shell/src/scale.rs
  druid/src/lib.rs
Labels: breaking change

#1072 Adds an idle loop to the x11 backend, and uses it for repainting.
  CHANGELOG.md
  druid-shell/Cargo.toml
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/window.rs
Labels: shell/x11

#1098 Cleanup the changlog.
  CHANGELOG.md
Labels: S-needs-review

#1096 Implement timers for the X11 platform
  CHANGELOG.md
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/util.rs
  druid-shell/src/platform/x11/window.rs
Labels: S-needs-review, shell/x11

#1093 Added selection text color to textbox.
  AUTHORS
  CHANGELOG.md
  druid/src/theme.rs
  druid/src/widget/textbox.rs
Labels: S-waiting-on-author

#1103 Don't make X11 requests to a destroyed window.
  CHANGELOG.md
  druid-shell/src/platform/x11/window.rs
Labels: S-waiting-on-author
