Repository linebender/druid, pull requests merged in 2020-05, with the labels that each got.

#894 Refactor X11 Application to make use of the new structure.
  CHANGELOG.md
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/error.rs
  druid-shell/src/platform/x11/window.rs
  druid/examples/multiwin.rs
Labels: shell/x11

#898 Add UpdateCtx::request_timer and request_anim_frame.
  CHANGELOG.md
  druid/examples/switch.rs
  druid/src/contexts.rs
  druid/src/widget/switch.rs
Labels: S-needs-review

#897 Add support for disabled menu items on gtk.
  CHANGELOG.md
  druid-shell/src/platform/gtk/menu.rs
Labels: S-needs-review, shell/gtk

#880 Add inspection utility methods to Env and Key
  CHANGELOG.md
  druid/src/env.rs
Labels: S-needs-review

#882 Improve Windows invalidation logging.
  druid-shell/examples/invalidate.rs
  druid-shell/src/platform/windows/window.rs
Labels: S-needs-review

#900 X11: Add support for window closing and quitting.
  CHANGELOG.md
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/error.rs
  druid-shell/src/platform/x11/util.rs
  druid-shell/src/platform/x11/window.rs
  druid/examples/multiwin.rs
  druid/src/win_handler.rs
Labels: shell/x11

#892 Refactor GTK Application to make use of the new structure.
  CHANGELOG.md
  druid-shell/src/platform/gtk/application.rs
  druid-shell/src/platform/gtk/error.rs
  druid-shell/src/platform/gtk/window.rs
Labels: S-needs-review, shell/gtk

#888 Add Data support for arrays.
  druid/src/data.rs
Labels: S-needs-review

#906 Add more entries to gitignore.
  .gitignore
Labels: S-needs-review, maintenance

#895 Provide additional modifiers as part of the mouse wheel event
  CHANGELOG.md
  druid-shell/examples/shello.rs
  druid-shell/src/mouse.rs
  druid-shell/src/platform/gtk/window.rs
  druid-shell/src/platform/mac/window.rs
  druid-shell/src/platform/web/window.rs
  druid-shell/src/platform/windows/window.rs
  druid-shell/src/platform/x11/window.rs
  druid-shell/src/window.rs
  druid/src/core.rs
  druid/src/event.rs
  druid/src/lib.rs
  druid/src/mouse.rs
  druid/src/tests/mod.rs
  druid/src/widget/scroll.rs
  druid/src/win_handler.rs
  druid/src/window.rs
Labels: S-needs-review, architecture, breaking change

#910 Fix druid-derive CI tasks.
  .github/workflows/ci.yml
Labels: S-needs-review, maintenance

#909 Optimize clippy trivially_copy_pass_by_ref for 64-bit.
  CHANGELOG.md
  clippy.toml
  druid-shell/src/platform/windows/dialog.rs
  druid/examples/blocking_function.rs
  druid/examples/multiwin.rs
  druid/src/app_delegate.rs
  druid/src/win_handler.rs
Labels: breaking change, maintenance

#886 Fix gtk menu shortcuts.
  druid-shell/src/platform/gtk/menu.rs
Labels: shell/gtk

#903 Add file filtering to gtk dialogs.
  CHANGELOG.md
  druid-shell/src/platform/gtk/dialog.rs
  druid/examples/open_save.rs
  druid/examples/wasm/src/lib.rs
Labels: S-waiting-on-author, shell/gtk

#842 Capture first mouse event on macOS.
  CHANGELOG.md
  druid-shell/src/mouse.rs
  druid-shell/src/platform/gtk/window.rs
  druid-shell/src/platform/mac/window.rs
  druid-shell/src/platform/web/window.rs
  druid-shell/src/platform/windows/window.rs
  druid-shell/src/platform/x11/window.rs
  druid/src/mouse.rs
  druid/src/tests/mod.rs
  druid/src/widget/textbox.rs
Labels: S-needs-review, shell/mac

#918 Fix layout warnings with timers.
  druid/src/core.rs
Labels: S-needs-review, maintenance

#920 Handle keyboard and button state in X11 events.
  CHANGELOG.md
  druid-shell/src/platform/x11/window.rs
Labels: S-waiting-on-author, shell/x11

#928 Update CLOSE and SHOW _WINDOW commands to utilize Target.
  CHANGELOG.md
  druid/src/command.rs
  druid/src/win_handler.rs
Labels: S-needs-review, breaking change

#940 Add im::Vector support to the List widget.
  CHANGELOG.md
  druid/examples/list.rs
  druid/src/data.rs
  druid/src/widget/list.rs
Labels: S-needs-review, widget

#942 Clean up cargo manifests and generate more docs.
  .github/workflows/ci.yml
  CHANGELOG.md
  druid-derive/Cargo.toml
  druid-shell/Cargo.toml
  druid/Cargo.toml
  druid/examples/wasm/Cargo.toml
Labels: S-needs-review, maintenance

#943 Remove references to cairo on macOS.
  .github/workflows/bloat.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/src/setup.md
Labels: maintenance

#931 Replace generic commands with methods on EventCtx and DelegateCtx
  CHANGELOG.md
  druid/examples/multiwin.rs
  druid/src/app_delegate.rs
  druid/src/command.rs
  druid/src/contexts.rs
  druid/src/core.rs
  druid/src/win_handler.rs
  druid/src/window.rs
Labels: S-needs-review

#955 Add mouse behavior docs.
  druid-shell/src/mouse.rs
  druid/src/core.rs
  druid/src/event.rs
  druid/src/mouse.rs
Labels: docs

#959 Remove one shot commands.
  CHANGELOG.md
  druid/src/app_delegate.rs
  druid/src/command.rs
  druid/src/contexts.rs
  druid/src/lib.rs
  druid/src/win_handler.rs
Labels: breaking change

#961 Support mouse scroll in X11.
  CHANGELOG.md
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/window.rs
Labels: shell/x11

#904 Refactor DPI scaling and fix the GTK implementation.
  CHANGELOG.md
  Cargo.lock
  docs/src/widget.md
  druid-shell/examples/invalidate.rs
  druid-shell/examples/perftest.rs
  druid-shell/examples/shello.rs
  druid-shell/src/error.rs
  druid-shell/src/lib.rs
  druid-shell/src/mouse.rs
  druid-shell/src/platform/gtk/window.rs
  druid-shell/src/platform/mac/window.rs
  druid-shell/src/platform/web/window.rs
  druid-shell/src/platform/windows/error.rs
  druid-shell/src/platform/windows/paint.rs
  druid-shell/src/platform/windows/util.rs
  druid-shell/src/platform/windows/window.rs
  druid-shell/src/platform/x11/window.rs
  druid-shell/src/scale.rs
  druid-shell/src/window.rs
  druid/Cargo.toml
  druid/src/app.rs
  druid/src/data.rs
  druid/src/env.rs
  druid/src/lib.rs
  druid/src/widget/flex.rs
  druid/src/win_handler.rs
  druid/src/window.rs
Labels: S-needs-review, shell/gtk, shell/wasm, shell/win

#967 Update screenshots in the readme.
  CHANGELOG.md
  README.md
Labels: docs

#915 Fix flash of white at window edge while resizing on Windows.
  CHANGELOG.md
  druid-shell/src/platform/windows/application.rs
Labels: shell/win

#970 Common context state
  CHANGELOG.md
  druid/src/contexts.rs
  druid/src/core.rs
  druid/src/window.rs
Labels: S-needs-review

#916 Move HWND render target creation to WM_CREATE.
  CHANGELOG.md
  druid-shell/src/platform/windows/window.rs
Labels: shell/win

#979 Add a vsync indicator to perftest.
  druid-shell/examples/perftest.rs
Labels: examples, shell

#985 Do doc tests with the stable compiler.
  .github/workflows/ci.yml
Labels: maintenance

#980 Rename WidgetPod::paint_with_offset to just paint
  CHANGELOG.md
  druid/examples/timer.rs
  druid/src/core.rs
  druid/src/tests/helpers.rs
  druid/src/widget/align.rs
  druid/src/widget/checkbox.rs
  druid/src/widget/container.rs
  druid/src/widget/either.rs
  druid/src/widget/flex.rs
  druid/src/widget/list.rs
  druid/src/widget/padding.rs
  druid/src/widget/radio.rs
  druid/src/widget/scroll.rs
  druid/src/widget/split.rs
  druid/src/widget/view_switcher.rs
  druid/src/window.rs
Labels: breaking change

#982 Convert internal X11 errors to anyhow.
  CHANGELOG.md
  Cargo.lock
  druid-shell/Cargo.toml
  druid-shell/src/application.rs
  druid-shell/src/error.rs
  druid-shell/src/lib.rs
  druid-shell/src/platform/gtk/dialog.rs
  druid-shell/src/platform/gtk/window.rs
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/error.rs
  druid-shell/src/platform/x11/window.rs
  druid-shell/src/util.rs
Labels: S-waiting-on-author, shell/x11

#990 Adopt a new dependency updating strategy.
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  druid-derive/Cargo.toml
  druid-shell/Cargo.toml
  druid/Cargo.toml
  druid/examples/wasm/Cargo.toml
Labels: docs, maintenance

#907 Fix macOS mouse events with multiple windows and active states.
  CHANGELOG.md
  druid-shell/Cargo.toml
  druid-shell/src/platform/mac/appkit.rs
  druid-shell/src/platform/mac/mod.rs
  druid-shell/src/platform/mac/window.rs
Labels: shell/mac

#992 Inline do_anim_frame
  druid/src/window.rs
Labels: S-needs-review

#926 Fix menu updates in the multiwin example.
  AUTHORS
  CHANGELOG.md
  druid/examples/multiwin.rs
Labels: examples

#983 Added a reference to an application using Druid
  CHANGELOG.md
  docs/src/more_information.md
Labels: S-needs-review

#993 Statically typed selectors, take two.
  CHANGELOG.md
  druid/examples/blocking_function.rs
  druid/examples/ext_event.rs
  druid/examples/identity.rs
  druid/examples/multiwin.rs
  druid/examples/open_save.rs
  druid/src/app_delegate.rs
  druid/src/command.rs
  druid/src/contexts.rs
  druid/src/ext_event.rs
  druid/src/menu.rs
  druid/src/tests/helpers.rs
  druid/src/tests/mod.rs
  druid/src/widget/textbox.rs
  druid/src/win_handler.rs
Labels: S-needs-review, breaking change

#1000 Update the crate root docs.
  druid/src/lib.rs
Labels: docs

#996 Standardize Text type in Contexts
  CHANGELOG.md
  druid/src/contexts.rs
  druid/src/core.rs
  druid/src/tests/harness.rs
  druid/src/widget/label.rs
  druid/src/widget/textbox.rs
  druid/src/window.rs
Labels: breaking change

#994 Fix macOS main menu not working before refocus.
  CHANGELOG.md
  druid-shell/src/platform/mac/application.rs
Labels: shell/mac

#997 Fix mouse events interaction with ALT/F10 on Windows.
  CHANGELOG.md
  druid-shell/src/platform/windows/window.rs
Labels: shell/win
