Repository linebender/druid, pull requests merged in 2020-06, with the labels that each got.

#971 Add goals section to README.md
  CHANGELOG.md
  README.md
Labels: docs

#1005 Add more information regarding command payload requirements.
  druid/src/command.rs
Labels: docs

#1006 Prepare the changelog for 0.6.0.
  CHANGELOG.md
  CONTRIBUTING.md
Labels: S-needs-review, docs

#1011 Export `Image` and `ImageData` by default
  CHANGELOG.md
  druid/src/lib.rs
  druid/src/widget/image.rs
  druid/src/widget/mod.rs
Labels: widget

#957 Fix GTK folder selection with filters.
  CHANGELOG.md
  druid-shell/src/platform/gtk/dialog.rs
Labels: shell/gtk

#1012 Fix nightly feature docs.
  druid-derive/Cargo.toml
  druid-shell/Cargo.toml
  druid/Cargo.toml
  druid/src/widget/mod.rs
Labels: maintenance

#1022 Don't log with error when optional Windows function cannot be loaded
  druid-shell/src/platform/windows/util.rs
Labels: shell/win

#1023 Turn two more Windows shell errors into info
  druid-shell/src/platform/windows/util.rs
Labels: shell/win

#1028 Fix macOS timer not firing during modal loop.
  CHANGELOG.md
  druid-shell/src/platform/mac/appkit.rs
  druid-shell/src/platform/mac/window.rs
Labels: shell/mac

#1042 Simplify Scale by removing DPI.
  CHANGELOG.md
  druid-shell/src/platform/gtk/window.rs
  druid-shell/src/platform/mac/window.rs
  druid-shell/src/platform/web/window.rs
  druid-shell/src/platform/windows/paint.rs
  druid-shell/src/platform/windows/window.rs
  druid-shell/src/platform/x11/window.rs
  druid-shell/src/scale.rs
Labels: breaking change, shell

#1043 Don't panic in the GTK idle handler if already borrowed.
  CHANGELOG.md
  druid-shell/src/platform/gtk/window.rs
Labels: shell/gtk

#1046 Cache piet::Image in Image widget
  druid/src/widget/image.rs
Labels: S-waiting-on-author

#1025 Port X11 backend from xcb to x11rb.
  CHANGELOG.md
  druid-shell/Cargo.toml
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/mod.rs
  druid-shell/src/platform/x11/util.rs
  druid-shell/src/platform/x11/window.rs
Labels: S-needs-review, shell/x11

#1018 Supplement image widget docs
  CHANGELOG.md
  druid/src/widget/image.rs
Labels: docs

#1050 Specify example feature requirements in a standard way.
  CHANGELOG.md
  druid/Cargo.toml
  druid/examples/image.rs
  druid/examples/list.rs
  druid/examples/svg.rs
  druid/examples/web/Cargo.toml
Labels: examples

#1054 Container::rounded takes KeyOrValue<f64> instead of f64
  CHANGELOG.md
  druid/src/widget/container.rs
Labels: S-needs-review, widget

#1053 Implement std::fmt::Debug for ImageData
  druid/src/widget/image.rs
Labels: S-needs-review

#1062 Call update after running commands in the idle handler.
  CHANGELOG.md
  druid/src/win_handler.rs
Labels: S-needs-review

#1058 Fix derive Data when type param bounds are defined
  CHANGELOG.md
  druid-derive/src/data.rs
  druid-derive/tests/data.rs
Labels: S-waiting-on-author, derive

#989 X11 present
  druid-shell/Cargo.toml
  druid-shell/examples/invalidate.rs
  druid-shell/examples/perftest.rs
  druid-shell/examples/shello.rs
  druid-shell/src/lib.rs
  druid-shell/src/platform/x11/application.rs
  druid-shell/src/platform/x11/error.rs
  druid-shell/src/platform/x11/mod.rs
  druid-shell/src/platform/x11/window.rs
Labels: shell/x11
