Repository linebender/druid, pull requests merged in 2022-06, with the labels that each got.

#2196 Add dark mode support for Windows.
  CHANGELOG.md
  druid-shell/src/backend/windows/window.rs
Labels: shell/win, S-waiting-on-author

#2179 Narrow the scope of the unsafe block
  druid-shell/src/backend/windows/application.rs
Labels: shell/win

#2210 fix(druid): info note
  druid/src/window.rs
Labels: maintenance

#2204 Add detection for dark or light theme.
  druid-shell/src/backend/windows/window.rs
Labels: shell/win
