Repository linebender/druid, pull requests merged in 2022-11, with the labels that each got.

#2293 Fix meta not being a modifier.
  druid-shell/src/backend/gtk/window.rs
Labels: shell/gtk, S-needs-review, 0.8

#2291 ZStack fix
  druid/src/core.rs
  druid/src/event.rs
  druid/src/widget/z_stack.rs
Labels: 0.8

#2295 Add xkbcommon path to build script.
  druid-shell/build.rs
  druid-shell/src/backend/shared/xkb/xkbcommon_sys.rs
Labels: shell, S-needs-review
