Repository linebender/druid, pull requests merged in 2022-12, with the labels that each got.

#2298 Relax the Piet dependencies to allow semver compatible updates.
  druid-shell/Cargo.toml
  druid/Cargo.toml
Labels: maintenance

#2297 Unify window size rounding strategy
  druid-shell/src/backend/gtk/window.rs
  druid-shell/src/backend/mac/window.rs
  druid-shell/src/backend/windows/window.rs
Labels: shell/mac, shell/win, shell/gtk, port-to-glazier

#2296 Respect scale when setting window position during creation.
  druid-shell/src/backend/windows/window.rs
Labels: shell/win, S-needs-review, port-to-glazier

#2274 Use custom application icon on Windows, if present.
  CHANGELOG.md
  druid-shell/src/backend/windows/application.rs
Labels: shell/win, port-to-glazier

#2149 Unified origin
  CHANGELOG.md
  druid/examples/timer.rs
  druid/examples/value_formatting/src/widgets.rs
  druid/examples/widget_gallery.rs
  druid/src/contexts.rs
  druid/src/core.rs
  druid/src/event.rs
  druid/src/lib.rs
  druid/src/sub_window.rs
  druid/src/text/input_component.rs
  druid/src/widget/align.rs
  druid/src/widget/aspect_ratio_box.rs
  druid/src/widget/clip_box.rs
  druid/src/widget/container.rs
  druid/src/widget/disable_if.rs
  druid/src/widget/either.rs
  druid/src/widget/env_scope.rs
  druid/src/widget/flex.rs
  druid/src/widget/list.rs
  druid/src/widget/maybe.rs
  druid/src/widget/padding.rs
  druid/src/widget/scope.rs
  druid/src/widget/scroll.rs
  druid/src/widget/slider.rs
  druid/src/widget/split.rs
  druid/src/widget/tabs.rs
  druid/src/widget/textbox.rs
  druid/src/widget/view_switcher.rs
  druid/src/widget/z_stack.rs
  druid/src/window.rs
Labels: architecture

#2317 Satisfy clippy 1.66
  druid-shell/examples/edit_text.rs
  druid-shell/examples/quit.rs
  druid-shell/examples/shello.rs
  druid-shell/src/backend/wayland/surfaces/surface.rs
  druid-shell/src/backend/wayland/window.rs
  druid-shell/src/backend/windows/window.rs
  druid/src/scroll_component.rs
  druid/src/widget/clip_box.rs
  druid/src/widget/progress_bar.rs
  druid/src/widget/sized_box.rs
  druid/src/widget/slider.rs
  druid/src/widget/switch.rs
Labels: maintenance
