Repository linebender/druid, pull requests merged in 2022-07, with the labels that each got.

#2215 Satisfy clippy 1.62
  druid-shell/src/backend/gtk/window.rs
  druid-shell/src/backend/wayland/pointers.rs
  druid-shell/src/backend/windows/menu.rs
Labels: maintenance

#2214 Fix build error on Mac when spin_no_std is enabled by dependents of lazy_static. (#2211)
  druid-shell/src/backend/mac/application.rs
  druid-shell/src/backend/mac/window.rs
Labels: bug

#2213 Fix double-release bug in macOS save dialog.
  druid-shell/src/backend/mac/dialog.rs
Labels: shell/mac, crash

#2218 Update nix to 0.24.0
  druid-shell/Cargo.toml
  druid-shell/src/backend/wayland/surfaces/buffers.rs
  druid-shell/src/backend/x11/application.rs
  druid-shell/src/backend/x11/clipboard.rs
  druid-shell/src/backend/x11/window.rs
Labels: shell, maintenance, S-needs-review

#2220 [macos] Fix compile error when using raw-win-handle
  druid-shell/src/backend/mac/window.rs
Labels: shell/mac, S-needs-review

#2221 [macos] Fix issue with missing default menu
  druid/src/menu/mod.rs
Labels: shell/mac, S-needs-review

#2231 Update to latest x11rb
  druid-shell/Cargo.toml
  druid-shell/src/backend/x11/application.rs
Labels: shell/x11
